.profPic
{
	width:250px;
	height:250px;
	padding:0px;
	background-color:white;
	margin: auto;
	vertical-align: middle;
}

.tile {
    overflow: auto;
    position: relative;
    width: 450px;
    padding: 5px 20px 17px 20px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    margin-bottom:20px;
}

.jobMailTile{
	position:relative;
	margin-left:332px;
	border-right: 2px solid;
	border:2px solid;
	border-bottom: 0px;
	height:500px;
	width:760px;
	float:left;
	padding:5px;
}

.mailHeader{
	position:relative;
	margin-left:332px;
	border-right: 2px solid;
	border:2px solid;
	border-bottom: 0px;
	height:100px;
	width:750px;
	float:left;
	padding:5px;
	background-color: #508FE1;
}

.mailFilter{
	position:absolute;
	margin-top:234px;
	margin-left:30px;
	height:500px;
	width:300px;
	border:2px solid;
	border-right:0px;
}

.jobSuggestions{
	height:400px;
}

.right_tile {
	width: 700px;
	color: #900000;
	margin-left: 420px;
	position:relative;
}

.bottomBorder{
	border-bottom: solid #508FE1;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	width:675px;
}

.smallBottomBorder{
	border-bottom: solid #508FE1;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	width:270px;
}

.accountCategoryTitles{
	font-size: 14pt;
	font-style: bold;
	color:#508FE1;
}

.doubleColors{
	margin:0px;
	color:#508FE1;
	font-size:12pt;
	clear:right;
	overflow:ellipsis;
}

.editPencil{
	height:15px;
	width:15px;
	margin-left:660px;
	position:relative;
	float:right;
}

.buttonImage{
	background-size:15px 15px;
	padding:0px;
	height:15px;
	width:15px;
	text-align:auto;
}

