.profPic
{
	width:250px;
	height:250px;
	padding:0px;
	background-color:white;
	margin: auto;
	vertical-align: middle;
}

.aboutBox{
	overflow: auto;
	position:absolute;
	margin-top:100px;
	margin-right:25px;
	margin-left:25px;
	padding:5px;
}

.tile {
    overflow: auto;
    position: relative;
    width: 450px;
    padding: 5px 20px 17px 20px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    margin-bottom:20px;
}

.loginTile{
	position : absolute;
	margin-left :50px;
	margin-top:225px;
	padding : 5px;
	height:300px;
	width:400px;
	background-color: #f7f7f9;
	float:left;
}

.mailHeaderBox{
	position:relative;
	margin-bottom:15px;
	width:760px;
	float:left;
	padding-right:30px;
}

.mailHeader{
	margin-bottom:0px;
	position:relative;
	border-bottom: 0px;
	margin-left:15px;
	height:100px;
	width:479px;
	float:left;
	padding:5px;
}

.mailFilter{
	clear:left;
	float:left;
	position:relative;
	margin-top:0px;
	width:300px;
	overflow:auto;
}

.jobSuggestions{
	height:400px;
}

.right_tile {
	width: 700px;
	color: #900000;
	margin-left: 410px;
	position:relative;
	margin-top:10px;
}

.prof_tile {
    overflow: auto;
    position: absolute;
    float:left;
    width: 300px;
    padding: 5px 20px 17px 20px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    margin-left:50px;
    margin-top:0px;
}


.bottomBorder{
	border-bottom: solid rgb(216,0,0);
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	width:675px;
	padding-bottom: 7px;
}

.smallBottomBorder{
	border-bottom: solid rgb(216,0,0);
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	width:270px;
}

.accountCategoryTitles{
	font-size: 14pt;
	font-style: bold;
	color:rgb(216,0,0);
}

.doubleColors{
	margin:0px;
	color:rgb(216,0,0);
	font-size:12pt;
	clear:right;
	overflow:ellipsis;
}

.editPencil{
	height:15px;
	width:15px;
	margin-left:660px;
	position:relative;
	float:right;
}

.buttonImage{
	background-size:15px 15px;
	padding:0px;
	height:15px;
	width:15px;
	text-align:auto;
}

