.profPic
{
	width:250px;
	height:250px;
	padding:0px;
	background-color:white;
	margin: auto;
	vertical-align: middle;
}

.tile {
    overflow: auto;
    position: relative;
    width: 450px;
    padding: 5px 20px 17px 20px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    margin-bottom:20px;
}

.loginTile{
	position : relative;
	margin-left : 15px;
	padding : 5px;
	float:left;
	height:500px;
	width:700px;
}

.mailHeaderBox{
	position:relative;
	margin-bottom:15px;
	width:760px;
	float:left;
	padding-right:30px;
}

.jobMailTile{
	position:relative;
	margin-left:332px;
	border-right: 2px solid;
	border:2px solid;
	border-bottom: 0px;
	height:500px;
	width:760px;
	float:left;
	padding:5px;
}

.mailHeader{
	margin-top:0px;
	position:relative;
<<<<<<< HEAD
	right:0px;
	border-right: 2px solid;
	border:2px solid;
	border-bottom: 0px;
=======
	margin-left:15px;
>>>>>>> 5230bc96ebae4b089e688fe371206e188c6e5dda
	height:100px;
	width:479px;
	float:left;
	padding:5px;
}

.mailFilter{
<<<<<<< HEAD
	position:relative;
	margin-top:250px;
	margin-left:30px;
	height:300px;
=======
	clear:left;
	float:left;
	position:relative;
	margin-top:0px;
	margin-left:20px;
>>>>>>> 5230bc96ebae4b089e688fe371206e188c6e5dda
	width:300px;
	overflow:auto;
}

.jobSuggestions{
	height:400px;
}

.right_tile {
	width: 700px;
	color: #900000;
	margin-left: 420px;
	position:relative;
}

.bottomBorder{
	border-bottom: solid rgb(216,0,0);
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	width:675px;
	padding-bottom: 7px;
}

.smallBottomBorder{
	border-bottom: solid rgb(216,0,0);
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	width:270px;
}

.accountCategoryTitles{
	font-size: 14pt;
	font-style: bold;
	color:rgb(216,0,0);
}

.doubleColors{
	margin:0px;
	color:rgb(216,0,0);
	font-size:12pt;
	clear:right;
	overflow:ellipsis;
}

.editPencil{
	height:15px;
	width:15px;
	margin-left:660px;
	position:relative;
	float:right;
}

.buttonImage{
	background-size:15px 15px;
	padding:0px;
	height:15px;
	width:15px;
	text-align:auto;
}

