
<!DOCTYPE html>
<html>
  <head>
    <title>Jobs@Brown</title>
    <meta name="jobList" content="{{jobs}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/public/jobs.css" rel="stylesheet" media="screen">
    <script src="/public/home.js"></script>
  </head>
  <body>
    <div class="border" style="position:relative;">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="home.html">jobs@brown</a>
          <ul class="nav">
            <li><a href="about.html">About</a></li>
          </ul>
          <div class="btn-group pull-right">
              <a href="home.html" class="btn btn-primary btn-lg active" role="button">JobFinder</a>
              <a href="studentAccount.html" class="btn btn-primary btn-lg" role="button">MyAccount</a>
              <a href="jobmail.html" class="btn btn-primary btn-lg" role="button">JobMail</a>
              <a href="logout.html" class="btn btn-primary btn-lg" role="button">LogOut</a>
          </div>
        </div>
      </div>
      <text class="header" style="float:left">Jobs@Brown</text>
      <div style="margin-right:10px;overflow:auto;float:left;clear:left;width:440"> <!--left side -->
        <div class="highlight" style="float:left">
          <form class="input-append" style="float:left">
            <input type="text" name="searchtext" style="width:350px">
            <button class="btn btn-danger" role="button">find a job</button>
          </form>
          <div id="search_options" class="collapse" style="clear:left;margin:10">
            <h5>Advanced Search Options:</h5>
                <text class="criteria" style="float:left"> wage >= </text>
                <select style="float:left;width:100px">
                  <option value="9.00">$9.00</option>
                </select>
              <text class="criteria" style="clear:left;float:left"> hours/week from </text>
              <select style="float:left;width:100px">
                <option value="0.00">0.00</option>
              </select>
              <text class="criteria" style="float:left"> to </text>
              <select style="float:left;width:100px">
                <option value="168.00">168.00</option>
              </select>
              <text class="criteria" style="clear:left;float:left"> on-/off-campus </text>
              <select style="float:left">
                <option value="either">either</option>
                <option value="on">on-campus</option>
                <option value="off">off-campus</option>
              </select>

              <text class="criteria" style="clear:left;float:left">Popular Tags (click to add to search)</text>
              <div style="float:left;"> <!--- tag button row-->
                <button class="btn btn-danger tag">{{tag}}</button>
                <button class="btn btn-danger tag ">{{tag}}</button>
                <button class="btn btn-danger tag ">{{tag}}</button>
                <button class="btn btn-danger tag">{{tag}}</button>
              </div>
              <div style="clear:left;float:left;"> <!--- tag button row-->
                <button class="btn btn-danger tag">{{tag}}</button>
                <button class="btn btn-danger tag">{{tag}}</button>
                <button class="btn btn-danger tag">{{tag}}</button>
                <button class="btn btn-danger tag">{{tag}}</button>
              </div>

          </div>
          <p></p>
          <input id="hide/show" type="button" class="btn btn-danger btn-small" data-toggle="collapse" data-target="#search_options" style="clear:left" value="Show Advanced Search Options">
          </input>
        </div>
       
          <h3 style="color:#8A0808"><span style="float:left;clear:left;margin-left:20px;margin-top:25px"> Results : </span></h3>
          <text style="float:left;margin-left:212px;margin-top:35px">sort by:</text>
          <select style="width:120px;float:left;margin-left:7px;margin-top:30px">
                <option value="start date">earliest start</option>
                <option value="highest pay">highest pay</option>
                <option value="lowest pay">lowest pay</option>
                <option value="employer">employer</option>
          </select>
          <div id="jobList" class="list-group" style="float:left;clear:left;overflow:scroll;margin-top:6px">
            
          </div>
      </div>
      <div class="highlight" id="jobdetail" style="width:550px;margin-left:20px;position:fixed;left:522px;top:216px"> <!-- top was 216 job description -->
        <h3 style="float:left"><span style="color:red">{{Job Title}}</span></h3>
        <button class="btn btn-danger" style="float:left;margin:15px">Apply Here</button>
        <text class="detailheader">Job Description</text>
        <text class="detailtext">{{description}} Ensure the safety and well-being of individuals using the pool and aquatic facility. Prevent, recognize and respond to aquatic/first aid emergencies if required. Enforce all aquatic facility safety policies, rules, and regulations in a professional manner. Interact with patrons in a positive, cooperative, professional and customer service oriented manner. Assist with maintaining the neatness and cleanliness of the pool area where needed. Assist with facility needs as assigned by supervisor. Shifts at the Katherine Moran Coleman Aquatic Center are subject to change. Tentative shifts available are between 5:03am-11:00pm on weekdays and 7:00am-8:00pm on weekends</text>
        <text class="detailheader">Job Requirements</text>
        <text class="detailtext">{{Requirements}} Must have current American Red Cross Lifeguard, First Aid, CPR/AED Pro, and Emergency Oxygen Certifications. Must be able to work a minimum of 9 hours on a weekly basis.</text>
        <text class="detailheader">Work Location</text>
        <text class="detailtext">{{location}}</text>
        <text class="detailheader">Number of Openings</text>
        <text class="detailtext">{{openings}}</text>
        <text class="detailheader">Start Date</text>
        <text class="detailtext">{{start}}</text>
        <text class="detailheader">End Date</text>
        <text class="detailtext">{{end}}</text>
        <text class="detailheader">Date Posted</text>
        <text class="detailtext">{{posted}}</text>
        <text class="detailheader">Primary Contact</text>
        <text class="detailtext">{{contact}}</text>
        <text class="detailheader">Email Address</text>
        <text class="detailtext">{{email}}</text>
        <text class="detailheader">Phone Number</text>
        <text class="detailtext">{{number}}</text>
        <text class="detailheader">Employer</text>
        <text class="detailtext">{{employer}}</text>
        <text class="detailheader">Job Type</text>
        <text class="detailtext">{{on/off campus}}</text>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script>
      function handleClick() {
        this.value = (this.value == 'Show Advanced Search Options' ? 'Hide Advanced Search Options' : 'Show Advanced Search Options');
      }
      document.getElementById('hide/show').onclick = handleClick;

      $(window).scroll(function() { 
        /*if ($(jobdetail).is(':hover') === false) {*/
          if ($(window).scrollTop() <= 216) { 
            $(jobdetail).offset({top: 230});
            $(jobdetail).css({overflow: "hidden"});
          } else {
            $(jobdetail).css({top: 0, bottom: 0, overflow: "scroll"});
          }
       /* } else {
          var top = $(window).offset().top;
          $(window).scrollTop(top);
          //$(jobdetail).is()
        }*/
      });
    </script>
  </body>
</html>