<!DOCTYPE html>
<html>
	<head>
		<title>Jobs@Brown</title>
			    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	
	<body>	
		<!--Tab bar at the top of page for internal navigation -->
		<div class="navbar navbar-inverse navbar-fixed-top" style="background:black"role="naviagtion">
			<div class="border" style="position:relative">
				<div class="navbar-header">
					<ul class="nav">
						<li><a href="/">jobs@Brown</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>

				<div class="nav navbar-nav pull-right" style="position:relative">
					<ul class="nav">
						<li><a href="/">JobFinder</a></li>
			            <li><a href="/account">MyAccount</a></li>
			            <li class="active"><a href="/jobmail">JobMail</a></li>
			            <li><a href="/login">LogOut</a></li>
					</ul>
				</div>
			</div>
		</div>

