<!DOCTYPE html>
<html>
	<head>
		<title>Jobs@Brown</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/public/jobs.css" rel="stylesheet" media="screen">
	    <link href="/public/jobsiteHelper.css" rel="stylesheet" media="screen">
	</head>

	<body>
		<!--Tab bar at the top of page for internal navigation -->
		
	 <div class="navbar navbar-inverse navbar-fixed-top" style="background:black"role="naviagtion">
	      <div class="border" style="position:relative">
	        <div class="navbar-header">
	          <ul class="nav">
	            <li><a href="/">jobs@Brown</a></li>
	            <li><a href="/about">About</a></li>
	          </ul>
	        </div>

	        <div class="nav navbar-nav pull-right" style="position:relative">
	          <ul class="nav">
		        <li><a href="/">JobFinder</a></li>
	            <li class="active"><a href="/account">MyAccount</a></li>
	            <li><a href="/jobmail">JobMail</a></li>
	            <li><a href="/login">LogOut</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
		<!--

		<!--Page header -->
	<text class="header" style="float:left;margin-bottom:15px;margin-top:75px">Jobs@Brown</text>
		<!-- User account profile: picture and basic info -->
	<!-- <h3 style="color:#8A0808"><span style="float:left;clear:left;margin-left:20px;margin-top:15px">Johnny's Profile </span></h3>-->

	 <div class="tile" style="float:left;width:300px;clear:left;margin-left:50px">
       
        	<h3 style="color:#508FE1"> Johnny's Profile <h3>
        	<div class="profPic">
				<img style="height:240px;width:240px;margin-top:5px;margin-left:5px" src="https://scontent-a-iad.xx.fbcdn.net/hphotos-ash3/1475885_10151718204156853_117853121_n.jpg">
			</div>
			<div style="float:right">
				<text style="font-size:12pt;font-weight:normal"> Edit Profile  <img style="height:15px;width:15px" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png"></text>
			</div>

		<div class="doubleColors">
		<text> Name: <text style="color:black;font-weight:normal">Johnny Bananas</text></text></div>

		<div class="doubleColors">
		<text> DOB: <text style="color:black;font-weight:normal">3/15/93</text></text></div>

		<div class="doubleColors">
		<text> Concentration: <text style="color:black;font-weight:normal">Undeclared</text></text></div>

		<div class="doubleColors">
		<text> Phone: <text style="color:black;font-weight:normal">555-555-5555</text></text></div>

		<div class="doubleColors">
		<text> Email: <text style="color:black;font-weight:normal">john_bananas@brown.edu</text></text></div>
		
	</div>
		

		<!-- Job Recommendations for student...to be viewed in JobMail -->
	<!--
	<div class="tile jobSuggestions" style="float:left;width:300px;clear:left;margin-left:50px;margin-top:770px">
			<div class="smallBottomBorder">
				<div class="accountCategoryTitles">
					<text>Recommendations for John</text>
				</div>
		</div>
		<p style="text-indent:35px;margin-top:20px;color:black"> Word</p>
	</div>
-->
		<div class="tile right_tile">
			<div class="bottomBorder">
				<img class="editPencil" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png">
				<div class="accountCategoryTitles">
					<text>Skills and Certifications</text>
				</div>
			</div>
			<p style="text-indent:35px;margin-top:20px;color:black"> TBD </p>
			
				<form>
				<input type="text" name="skillsandcertifications" value = "SO MANY SKILLS">
				</form>

		</div>

		<div class="tile right_tile">
 			<div class="bottomBorder">
 				<img class="editPencil" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png">
				<div class="accountCategoryTitles">
					<text>References</text>
				</div>
			</div>
			<p style="text-indent:35px;margin-top:20px;color:black"> No Recommendations </p>
		</div>

		<div class="tile right_tile">
			<div class="bottomBorder">
				<img class="editPencil" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png">
				<div class="accountCategoryTitles">
					<text>Previous Experience</text>
				</div>
			</div>
			<p style="text-indent:35px;margin-top:20px;color:black"> No Recommendations </p>
		</div>

	</body>
</html>
