<!DOCTYPE html>
<html>
	<head>
		<title>Jobs@Brown</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/public/jobs.css" rel="stylesheet" media="screen">
	    <link href="/public/jobsiteHelper.css" rel="stylesheet" media="screen">
	    <script src="/public/accountHelpers.js"></script>
	</head>

	<body>
		<!--Tab bar at the top of page for internal navigation -->
		
	 <div class="navbar navbar-inverse navbar-fixed-top" style="background:black"role="naviagtion">
	      <div class="border" style="position:relative">
	        <div class="navbar-header">
	          <ul class="nav">
	            <li><a href="/">jobs@Brown</a></li>
	            <li><a href="/about">About</a></li>
	          </ul>
	        </div>

	        <div class="nav navbar-nav pull-right" style="position:relative">
	          <ul class="nav">
		        <li><a href="/">JobFinder</a></li>
	            <li class="active"><a href="/account">MyAccount</a></li>
	            <li><a href="/jobmail">JobMail</a></li>
	            <li><a href="/logout">LogOut</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
		<!--

		<!--Page header -->
	<text class="header" style="float:left;margin-bottom:15px;margin-top:75px">Jobs@Brown</text>
		<!-- User account profile: picture and basic info -->
	<!-- <h3 style="color:#8A0808"><span style="float:left;clear:left;margin-left:20px;margin-top:15px">Johnny's Profile </span></h3>-->

	 <div class="tile" style="float:left;width:300px;clear:left;margin-left:50px">
       
        	<h3 style="color:black"> Johnny's Profile <h3>
        	<div class="profPic">
				<img style="height:240px;width:240px;margin-top:5px;margin-left:5px" src="https://scontent-a-iad.xx.fbcdn.net/hphotos-ash3/1475885_10151718204156853_117853121_n.jpg">
			</div>
			<div style="float:right">
				<text style="font-size:12pt;font-weight:normal"> Edit Profile <button class="btn btn-default" style="shadow:0px"> <img style="height:15px;width:15px" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png"></button></text>
			</div>

		<div class="doubleColors">
		<text> Name: <text style="color:black;font-weight:normal">Johnny Bananas</text></text></div>

		<div class="doubleColors">
		<text> DOB: <text style="color:black;font-weight:normal">3/15/93</text></text></div>

		<div class="doubleColors">
		<text> Concentration: <text style="color:black;font-weight:normal">Undeclared</text></text></div>

		<div class="doubleColors">
		<text> Phone: <text style="color:black;font-weight:normal">555-555-5555</text></text></div>

		<div class="doubleColors">
		<text> Email: <text style="color:black;font-weight:normal">john_bananas@brown.edu</text></text></div>
		
	</div>
		

		<!-- Job Recommendations for student...to be viewed in JobMail -->
	<!--
	<div class="tile jobSuggestions" style="float:left;width:300px;clear:left;margin-left:50px;margin-top:770px">
			<div class="smallBottomBorder">
				<div class="accountCategoryTitles">
					<text>Recommendations for John</text>
				</div>
		</div>
		<p style="text-indent:35px;margin-top:20px;color:black"> Word</p>
	</div>
-->

	<div class="tile right_tile">
		
		
			<button onclick="experienceEdit()" class="btn btn-default" style="float:right;margin-top" > <img style="height:15px;width:15px" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png"></button>
		<div class="bottomBorder">
			<div class="accountCategoryTitles">
				<text>Experience</text>
			</div>
		</div>
		<p id="experience">
			<div id='changes2'>
				<div id='changes1'>
					<p style="margin-top:20px;color:black"><b>Brown Group Tutor (2011 – Present)</b></p>
					<p style="color:black;text-indent:30px">Instruct underclassmen in various math, statistics and economics courses. Tutor both individuals and groups of students.</p> 

					<p style="margin-top:20px;color:black"><b>The Princeton Review, SAT Instructor (Summer 2010)</b></p>
					<p style="color:black;text-indent:30px">Served as a classroom instructor and private tutor for this national test preparation company. Completed a rigorous certification/training program led by Princeton Review professionals. Led SAT prep classes and provided private instruction to students in the Bronx, NY.</p> 
				</div>
			</div>
		</p>

	</div>

		<div class="tile right_tile">
			<button class="btn btn-default" style="shadow:0px;float:right;top:0px" onclick="editSkills()"> <img style="height:15px;width:15px" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png"></button>
 			<div class="bottomBorder">
				<div class="accountCategoryTitles">
					<text>Skills and Certificates</text>
				</div>
			</div>
			<p id="skills">
				
			<table class="table" border="0" id="tbl">
				<!-- row 1-->
				<div id="junk">
					<tr>
						<td><text id="a">Red Cross</text></td>
						<td><text id="b">EMT</text></td>
						<td><text id="c">Web Design</text></td>
						<td><text id="d"></text></td>
					</tr>
					<!-- row 2-->
					<tr>
						<td><text id="e">Video Production</text></td>
						<td><text id="f">Lifeguard</text></td>
						<td><text id="g"></text></td>
						<td><text id="h"></text></td>
					</tr>
					<!-- row 3-->
					<tr>
						<td><text id="i">Graphic Design</text></td>
						<td><text id="j">iOS Development</text></td>
						<td><text id="k"></text></td>
						<td><text id="l"></text></td>
					</tr>
				</div> 
			</table>

			</p>
			
		</div>

		<div class="tile right_tile">
			<button class="btn btn-default" style="float:right;margin-top"> <img style="height:15px;width:15px" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-10/512/Pencil-icon.png"></button>
			<div class="bottomBorder">
				<div class="accountCategoryTitles">
					<text>References</text>
				</div>
			</div>
			<p style="text-style:strong;margin-top:10px">Lawrence Gibbs, Research Institute of Dakota</p>
			<p style="text-indent:35px;margin-top:20px;color:black"> Johnny worked for me as an intern in the summer of '69. It was the best of times and the worst of times, but not both. He is very smart and engaging and whatnot. Sometimes he would pretend to do work and would look at me to see if I noticed. Even though I always did, I did not mind because I was slacking off myself. This is not a good recommendation, but it takes up a lot of space and looks pretty. I am an advocate of aesthetics. Hurray UI. Hurray Johnny!</p>
		</div>

	</body>
</html>
